<button mat-button (click)='add()'>Add user</button>
<h2>Users</h2>
<div class="container"> 
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
<mat-list role="list" class="heroes">
  <div *ngFor="let user of users" class="justify">
  <mat-list-item role="listitem" >     
    <div class="content">   
     <span class="badge">{{user.id}}</span>  
     <span class="badge">{{user.name}}</span> 
    </div> 
  <img [src]="user.avatar" alt="user"/> 
  </mat-list-item>
  <div class="content"> 
    <mat-icon matSuffix (click)='edit(user)'>
        edit</mat-icon>
    <mat-icon (click)="delete(user)">delete</mat-icon>
   </div> 
  </div> 
</mat-list>

</div>

