      <form  name="loginForm"(ngSubmit)='save($event)' [formGroup]="loginForm"> 
        <div class="container">       
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input              
              matInput
              required
              [value]="data.name" 
              formControlName="email" 
              [(ngModel)]='email'           
            /> 
            <mat-error *ngIf="!loginForm.controls['email'].valid">
              Email is required
            </mat-error>          
          </mat-form-field>  
          <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input             
            matInput
            required            
            formControlName="password"
            [(ngModel)]='password' 
            type='password'          
          />  
          <mat-error *ngIf="!loginForm.controls['password'].valid">
            Password is required
          </mat-error>       
        </mat-form-field>  
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Code word</mat-label>
          <input              
            matInput
            required
            formControlName="code"
            [(ngModel)]="code"            
          />
          <mat-error *ngIf="!loginForm.controls['code'].valid">
            Code is required
          </mat-error>             
        </mat-form-field>  
        <div class="justify">     
        <button mat-button>{{data.edit ? 'edit' : "add"}}</button>
        <button mat-button (click)='cancel()'>cancel</button>
      </div>
      </div>
      </form>     
    <div *ngIf='validation' class="message">Fill in the fields correctly</div>
    <div *ngIf='testOfName' class="message">this post is already occupie</div>
    