
<div class="container">
    
    <button mat-button (click)="goBack()" mat-button>go back</button>
    <img [src]='getSrc()' onerror="this.src='/assets/users/undefined.jpg'" alt="avatar"/>   
    <form #userForm>
        <h2>{{getUsername()}}</h2>  
        <mat-label>First name</mat-label>
        <input         
        #inputFirstName2='ngModel'    
        [(ngModel)]='firstName'        
        matInput
        required
        [readonly]='edit' 
        name="first"            
        />
        <mat-label>Last name</mat-label>
        <input        
        #inputLastName2='ngModel'    
        [(ngModel)]='lastName'        
        matInput
        required 
        [readonly]='edit'
        name="second"           
        />        
            <button mat-button (click)='edit = !edit; save()'
            [disabled]='(!inputLastName2.dirty && !edit && !inputFirstName2.dirty)'
            >{{edit ? "Edit" : "Save"}}</button>             
    </form>        
</div>