.logout {
    justify-self: end;
}
mat-toolbar {
    justify-content: space-between;
}
img {
    max-width: 40px;
    border-radius: 100%;
}
.container2 {
    display: flex;
    align-items: center;
}